# Node
node_modules/
npm-debug.log*
yarn-error.log*
.package-lock.json
pnpm-lock.yaml

# Expo / React Native
.expo/
.expo-shared/
web-build/
dist/
build/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# Logs
*.log
logs/

# Env
.env
.env*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db